doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Login
    link(rel='stylesheet', href='css/login.css')
  body
    div.log-form
      h2 Logged to your account
      

